.m-activities {
  display: flex;
  justify-content: space-around;
  text-align: left;

  &__item {
    width: 27%;

    &__image {
      padding-bottom: 100%;
      width: 100%;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    h3 {
      font-family: var(--font-family-creepster);
      font-size: 2rem;
      font-weight: bold;
      margin: $spacer-large 0 0 0;
      color: $grey-darker;
    }

    p {
      margin: $spacer 0 0 0;
      color: $grey-dark;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .m-activities__item {
      width: 100%;
      margin-bottom: $spacer-large;
    }
  }
}
