.m-news {
  &__item:not(:last-of-type) {
    border-bottom: 1px solid $grey-light;
  }

  &__date {
    margin-top: 0;
    color: $grey-medium;
  }

  &__title {
    margin-bottom: 0;
    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.2s ease;
      &:hover {
        color: darken($primary, 5);
      }
    }
  }
}
