@use 'sass:color';

$grey-darkest: rgb(20, 20, 20) !default;
$grey-darker: rgb(41, 41, 41) !default;
$grey-dark: rgb(60, 60, 60) !default;
$grey-medium: rgb(83, 83, 83) !default;
$grey: rgb(200, 200, 200) !default;
$grey-light: rgb(220, 220, 220) !default;
$grey-lighter: rgb(236, 236, 236) !default;
$grey-lightest: rgb(245, 245, 245) !default;
$white: rgb(255, 255, 255) !default;

$background: #ffebb5;

$primary: #9f52b4;
$secondary: #5b2f67;
$tertiary: #abf432;

// palette of background colors for dark text, used in labels
$bg-1: #cfa9da;
$bg-2: #abf432;
$bg-3: #fa983a;
$bg-4: #f3c6f8;
$bg-5: #91ddfb;
$bg-6: #e6f9d7;
$bg-7: #fcfc79;
$bg-8: #adfffb;

// https://flatuicolors.com/palette/fr
$state-danger: rgb(229, 80, 57);
$state-warning: rgb(250, 152, 58);
$state-info: rgb(74, 105, 189);
$state-success: rgb(94, 212, 119);
