@font-face {
	font-family: 'Pineapple';
	src: url('../../fonts/Pineapple/PineappleDemo.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Pineapple/PineappleDemo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/Pineapple/PineappleDemo.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/Pineapple/PineappleDemo.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/Pineapple/PineappleDemo.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/Pineapple/PineappleDemo.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Broken';
	src: url('../../fonts/Broken/broken15-webfont.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/Broken/broken15-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/Broken/broken15-webfont.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/Broken/broken15-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/Broken/broken15-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/Broken/broken15-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
