.u-text-center {
  text-align: center;
}

.u-text-danger {
  color: $state-danger;
}

.u-text-success {
  color: $state-success;
}

.u-text-warning {
  color: $state-warning;
}

.u-text-danger {
  color: $state-danger;
}

.u-text-light {
  color: $grey-medium;
  font-weight: 300;
}

.u-text-small {
  font-size: 0.8rem;
}

.u-text-big {
  font-size: 1.8rem;
}

.u-text-underline {
  text-decoration: underline;
}

/* Applies white-space pre-wrap on paragraphs, self or children. */
p.u-pre-wrap-p,
.u-pre-wrap-p p {
  white-space: pre-wrap;
}
